.top-bar {
	line-height: 50px;
	width: 100%;
	height: 50px;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 0;
	left: 0;
}
body {
	padding-top: 50px;
}
.badge {
	background: #ccc;
	border-radius: 50%;
	float: right;
	width: 20px;
	height: 20px;
	text-align: center;
	margin: 15px 0;
	line-height: 20px;
	font-size: 10px;
}
.cart-detail {
	position: relative;
	float: left;
}
.cart-content {
	display: none;
	position: absolute;
	background: white;
	width: 100%;
	min-width: 160px;
	transform: translate(10px, 60px);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	border-top: 3px solid #333;
	border-radius: 3px;
}
.cart-content::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 7.5px solid transparent;
	transform: translate(50%, -112.5%);
	border-bottom-color: black;
}
.cart-detail.active .cart-content {
	display: block;
}
.cart-item,
.buy-prod {
	list-style-type: none;
	width: 100%;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
}
.cart-item:hover {
	background: #eee;
	/* color: white; */
}
.active-link {
	background: #eee;
}
